#
# For more Information refer to the Python Package Index: https://pypi.org/
#
wheel
build
pip-tools
pipenv
virtualenv
pytoolbox
python-dotenv
Cython
ipython
jupyter
notebook
numpy
matplotlib
pandas
wget
scipy
prettytable
ipyleaflet
bqplot
k3d
gmaps
jupyterlab_widgets
ipywidgets
perspective-python
python-igraph
#networkx[default]
networkx[default,extra]
pygraphviz
pydot
pyyaml
#GDAL
lxml
scikit-image[optional]
OWSLib
Pillow
geopandas
momepy
osmnx
#seaborn
seaborn[all]
beakerx
#cartopy
