wheel
pip-tools
pipenv
virtualenv
pytoolbox
python-dotenv
Cython
ipython
jupyter
notebook
numpy
matplotlib
pandas
wget
scipy
prettytable
ipyleaflet
bqplot
k3d
#beakerx
gmaps
jupyterlab_widgets
ipywidgets
perspective-python
python-igraph
#networkx[default,extra]
networkx[default]
pygraphviz
pydot
pyyaml
#GDAL
lxml
#scikit-image
scikit-image[optional]
#cartopy
OWSLib
Pillow
geopandas
momepy
osmnx
#seaborn[all]
seaborn
