#
# For more Information refer to the Python Package Index: https://pypi.org/
#
wheel
build
pip-tools
pipenv
virtualenv
pytoolbox
python-dotenv
Cython
ipython
#
#
### Notebooks
#
jupyter
notebook
jupyterlab_widgets
prettytable
ipyleaflet
ipywidgets
perspective-python
k3d
beakerx
bqplot
#
#
### needed
#
Pillow
fiona
jinja2
#
#
### Tools
#
wget
#
#
### DATA
#
numpy
pandas
scipy
scikit-image[optional]
#
#
### Data Visualisation
#
matplotlib
seaborn[all]
#
#
### Graph and Network Analytics
#
python-igraph
networkx[default,extra]
pygraphviz
pydot
pyyaml
lxml
#
#
### Maps, OpenStreetMaps, GoogleMaps, GEO
#
osmnx
gmaps
cartopy
oneworld
momepy
OWSLib
#GDAL
